@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Play:wght@700&family=Kanit:wght@600&family=Work+Sans:wght@500&display=swap');
.wrapper {
  position: absolute;
  top: 0.5px;
  left: 0;
  right: 0;
  bottom: 0.5px;
  overflow-x: hidden; 
  overflow-y: auto;
}

body {
  background: url('./assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 92vh;
  margin-top: 10%;
  color: #dc5265;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 340px;
  filter: drop-shadow(0 0 15px gray);
}
.down-arrow-svg {
  height: 75px;
  margin-top: 80%;
  margin-bottom: 20%;
  cursor: pointer;
  filter: drop-shadow(0 0 15px black);
}
@keyframes glowing {
  0% {
    filter: drop-shadow(0 0 2px #dbdbdb);
  }
  50% {
    filter: drop-shadow(0 0 5px #ffffff);
  }
  100% {
    filter: drop-shadow(0 0 2px #dbdbdb);
  }
}
.down-arrow-svg {
  animation: glowing 1300ms infinite;
}

.info-card-container {
  display: flex;
  flex-direction: column;
  flex: 4;
  flex-wrap: wrap;
  align-items: center;
  padding: 5%;
  padding-bottom: 20%;
  margin-top: 50%;
}

.info-card {
  margin-left: auto;
  margin-right: auto;
  opacity: 97.5%;
  flex: 8;
  margin: 3%;
  border-color: #dc5265!important;
  box-shadow: 3px 5px 5px #dc5265;
  height: 363px;
  justify-content: space-between;
}
.info-card-about {
  margin-left: auto;
  margin-right: auto;
  opacity: 97.5%;
  flex: 6;
  margin: 3%;
  border-color: #dc5265!important;
  box-shadow: 3px 5px 5px #dc5265;
  height: 363px;
  justify-content: space-between;
}
.info-card-title {
  text-align: center;
  margin-bottom: 0;
  font-family: 'Kanit', sans-serif;
}
.info-card-text {
  font-family: 'Work Sans', sans-serif;
  margin-left: 8%;
  margin-right: 8%;
}
.info-card-links {
  display: flex;
  flex-direction: column;
}
.info-card-link {
  color: black!important;
  margin-top: auto;
}
.footer {
  background-color: rgba(31, 31, 31, 0.99);
  color: white; 
  min-height: 200px;
  padding: 4%;
}
.modal {
  width: 75%; 
}
.legend {
  opacity: 100%!important;
  font-size: 25px!important;
}
.carousel {
  border-color: #dc5265;
  box-shadow: 3px 5px 5px #dc5265;
}
.info-card-testis {
  opacity: 97.5%;
  flex: 8;
  margin: 5%;
  margin-top: 50%;
  border-color: #dc5265!important;
  box-shadow: 3px 5px 5px #dc5265;
  justify-content: space-between;
}
.testi-name {
  display: inline;
  align-self: first baseline;
  font-family: 'Kanit', sans-serif; 
  margin-left: auto;
  margin-right: auto;
}
.testi-thumb {
  width: 90%;
  height: auto;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}
.testi-left {
  display: flex;
  flex-direction: column-reverse;
}
.testi-right {
  display: flex;
  flex-direction: column-reverse;
}
.up-arrow-svg {
  height: 100px;
  width: 100%;
  /* margin-top: 5%; */
  margin-bottom: 20%;
  cursor: pointer;
  filter: drop-shadow(0 0 15px black);
  margin-left: auto;
  margin-right: auto;
}
.contact-bottom {
  color: #dc5265;
  /* color: white; */
  text-align: center;
  margin-top: -20%;
  font-size: 35px;
  font-family: 'Kanit';
  text-shadow: 2px 4px 5px black;
}

@media only screen and (min-width: 1000px) {
  .logo {
    width: 70%;
    float: right;
    margin-top: -25%;
    margin-right: -15%;
  }
  .hero-title {
    margin-left: 35%;
    margin-bottom: 6.5%;
    font-weight: bold;
    font-size: 8rem;
    text-shadow: 5px 10px 10px rgb(180, 180, 180, 0.8);

  }
  .hero-subtitle {
    margin-left: 59%;
    font-size: 6rem;
    font-weight: bold;
    margin-top: -8%;
    text-shadow: 5px 10px 10px rgb(180, 180, 180, 0.8);
  }
  .down-arrow-svg {
    filter: drop-shadow(5px 5px 5px black);
    margin-left: auto;
    margin-right: 14%;
    scale: 1.75;
    margin-top: -15%;
  }
  .modal {
    width: 20%;
  }
  @keyframes glowing {
    0% {
      filter: drop-shadow(0 0 2px #000000);
    }
    50% {
      filter: drop-shadow(0 0 5px #3b3b3b);
    }
    100% {
      filter: drop-shadow(0 0 2px #000000);
    }
  }
  .down-arrow-svg {
    animation: glowing 1300ms infinite;
  }
  .info-card-container {
    display: flex;
    flex-direction: row;
  }
  .info-card {
    /* flex: 12; */
    flex-basis: 26%
  }
  .info-card-about {
    flex-basis: 26%
  }
  .second-down-arrow-svg {
    margin-right: auto;
    margin-left: 11%;
    margin-top: -7.5%;
  }
  .testi-container {
    /* max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #dc5265;
    background: rgb(255,255,255, 0.95);
    border-radius: 5px; */

  }
  .up-arrow-svg {
    margin-top: 5%;
  }
  .info-card-testis {
    margin-left: auto;
    margin-right: auto;
    opacity: 97.5%;
    flex: 8;
    margin: 5% 25%;
    border-color: #dc5265!important;
    box-shadow: 3px 5px 5px #dc5265;
    justify-content: space-between;
  }
  .testi-name {
    display: inline;
    align-self: first baseline;
    font-family: 'Kanit', sans-serif;

  }
  .testi-thumb {
    height: 250px;
    width: auto;
    display: inline;
  }
  .testi-left {
    display: flex;
    flex-direction: row-reverse;
  }
  .testi-right {
    display: flex;
    flex-direction: row;
  }
}