@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Play:wght@700&family=Kanit:wght@600&family=Work+Sans:wght@500&display=swap');
.wrapper {
  position: absolute;
  top: 0.5px;
  left: 0;
  right: 0;
  bottom: 0.5px;
  overflow-x: hidden; 
  overflow-y: auto;
}

body {
  background: url('./assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92vh;
  margin-top: 10%;
  color: #da00b5;
}

.hero-title {
  text-shadow: 5px 5px 5px black;
  font-family: 'Play', sans-serif;
  font-size: 4rem;
  text-align: center;
  cursor: default;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #910059;
  
}
.hero-subtitle {
  font-family: 'Fasthand', cursive;
  text-shadow: 5px 5px 5px black;
  font-size: 3rem;
  font-weight: lighter;
  cursor: default;
  color: #da00b5;
  margin-top: 0;
}
.down-arrow-svg {
  height: 55px;
  margin-top: auto;
  margin-bottom: 20%;
  cursor: pointer;
}
@keyframes glowing {
  0% {
    filter: drop-shadow(0 0 2px #dbdbdb);
  }
  50% {
    filter: drop-shadow(0 0 5px #ffffff);
  }
  100% {
    filter: drop-shadow(0 0 2px #dbdbdb);
  }
}
.down-arrow-svg {
  animation: glowing 1300ms infinite;
}

.info-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  padding-bottom: 20%;
}

.info-card {
  margin-left: auto;
  margin-right: auto;
  opacity: 97.5%;
  flex: 8;
  margin: 3%;
  border-color: #da00b5!important;
  box-shadow: 3px 5px 5px #da00b5;
  height: 363px;
  justify-content: space-between;
}
.info-card-title {
  text-align: center;
  margin-bottom: 0;
  font-family: 'Kanit', sans-serif;
}
.info-card-text {
  font-family: 'Work Sans', sans-serif;
  margin-left: 8%;
  margin-right: 8%;
}
.info-card-links {
  display: flex;
  flex-direction: column;
}
.info-card-link {
  color: black!important;
  margin-top: auto;
}
.footer {
  background-color: rgba(31, 31, 31, 0.99);
  color: white; 
  min-height: 200px;
  padding: 4%;
}
.modal {
  width: 75%; 
}

@media only screen and (min-width: 1000px) {
  .hero {
  }
  .hero-title {
    margin-left: 35%;
    margin-bottom: 6.5%;
    font-weight: bold;
    font-size: 8rem;
    text-shadow: 5px 10px 10px rgb(180, 180, 180, 0.8);

  }
  .hero-subtitle {
    margin-left: 59%;
    font-size: 6rem;
    font-weight: bold;
    margin-top: -8%;
    text-shadow: 5px 10px 10px rgb(180, 180, 180, 0.8);
  }
  .down-arrow-svg {
    filter: drop-shadow(5px 5px 5px black);
    margin-left: auto;
    margin-right: 14%;
    scale: 1.75;
margin-top: -2.75%;
/* margin-top: -6% */
  }
  .modal {
    width: 20%;
  }
  @keyframes glowing {
    0% {
      filter: drop-shadow(0 0 2px #000000);
    }
    50% {
      filter: drop-shadow(0 0 5px #3b3b3b);
    }
    100% {
      filter: drop-shadow(0 0 2px #000000);
    }
  }
  .down-arrow-svg {
    animation: glowing 1300ms infinite;
  }
  .info-card-container {
    display: flex;
    flex-direction: row;
  }
}